/* .form{
 box-shadow: 0 0 30px 0px #000;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    background: #0e0d12d4;
}
.form input{
    background: transparent;
    color: #fff;
}
.form input::placeholder{
    color: #fff;
}
.form .form-control:focus {
    background: transparent;
    box-shadow: none;
    border-color: #0a58ca;
    border-width: 2px;
    color: #fff;
}
.form-heading{
    padding: 22px 10px;
}
.form{
    border: 3px solid transparent;
    transition-duration: 0.5s;
}
.form:hover{
    border-color: #0a58ca;
} */

.company-logo img {
    max-width: 160px;
}

.login-form {
    width: 75%;
}

.login-form input {
    border-color: #000 !important;
    padding: 10px 46px 10px 45px;
    border-radius: 12px;
}

.login-form input::placeholder {
    color: #000 !important;
}

.login-form input:focus {
    box-shadow: none !important;
}

.login-form-container {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.company-name {
    line-height: 18px;
}

.login-section .login-form-bg {
    height: 100vh;
    background: url("../../../assets/img/property/bg-main.jpg") no-repeat left center/cover;
}

.login-section .icon-input {
    position: relative;
}

.login-section .icon-input svg {
    position: absolute;
    top: 12px;
    left: 15px;
}

.login-section .icon-input svg.password-show-hide {
    position: absolute;
    top: 14px;
    left: 91%;
}

.login-form-footer {
    font-size: 14px;
    font-weight: 500;
}

.login-form-footer .remember-pass {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media only screen and (max-width:576px) {
    .login-form-container {
        justify-content: center;
        gap: 70px;
    }
}