.property-card-listing .property-search-box-container input {
    padding-right: 40px !important;

}

.edit-delete-btn-parent {
    flex: 0 0 85px;
    display: flex;
    justify-content: space-between;
}

.card-footer-container {
    padding: 11px 19px;
    background-color: #e60c0b;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(22px);
    transition-duration: 0.5s;
    z-index: -1;
    opacity: 0;
}

.card {
    position: relative;
}

.card:hover .card-footer-container {
    z-index: 2;
    transform: translateY(0);
    opacity: 1;
}

.card-footer-container .edit-delete-btn-parent span {

    padding: 5px 8px 10px 7px;
    border-radius: 50%;
}
.card-footer-container .edit-delete-btn-parent span svg{
    color: #fff !important;
}

.card-footer-container .edit-delete-btn-parent span:hover {
    background-color: #fff;
}
.card-footer-container .edit-delete-btn-parent span:hover svg {
    color: red !important;
}